<div class="card card-box">
    <div class="card-body">
        <h3><b>Key Actions</b></h3>
        
        <table class="table table-hover">

            <tbody>
                <tr *ngFor="let item of datasource; let i = index">                   
                    <td>{{ item.commodity }}</td>
                    <td>{{ item.model }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.contract }}</td>
                    <td>{{ item.price | currency:'GBP'}}</td>
                    <td>{{ item.position }}</td>
                    <td>{{ item.tradeAction }}</td>
                    <td>{{ item.pnlDaily | currency:'GBP'}}</td>
                </tr>               
            </tbody>

        </table>

    </div>
</div>

   